/* Resets */

* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}


ul li {

  list-style: none;

}


body {

  font-family: "Noto Sans", serif;

}


/* Header */

.header_nav {

  display: flex;

  align-items: center;

  justify-content: center;

  background-color: coral;

}


.header_nav h2 {

  color: white;

}


.logo {

  font-size: 2rem;

}