/* Resets */

* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}


body {

  font-family: "Noto Sans", serif;

}


img {

  width: 100%;

}


ul li {

  list-style: none;

}


/* Header */

.header_nav {

  display: flex;

  align-items: center;

  justify-content: center;

  background-color: coral;

  padding: 1rem;

}


.header_nav h2 {

  color: white;

}


.logo {

  font-size: 2rem;

}


/* Main */

.places_list {

  display: flex;

  flex-direction: column;

  gap: 2rem;

  padding: 1.5rem;

}


.card {

  background-color: #e9ecef;

  display: flex;

  gap: 1rem;

  padding: 1rem;

  border-radius: 15px;

}


.card figure {

  max-width: 300px;

}


/* Footer */

footer nav {

  background-color: deepskyblue;

  display: flex;

  gap: 1rem;

  justify-content: center;

  padding: 2rem;

}


.social_links {

  display: flex;

  gap: 10px;

}


.social_links li {

  font-size: 1.5rem;

  cursor: pointer;

}


/* Media Queries */

@media screen and (max-width:820px) {

  .card {

    flex-direction: column;

    align-items: center;

  }

  .card figure {

    max-width: 100%;

  }

}